/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #1976d2;
  --secondary-color: #f0f0f0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: var(--primary-color);
}
