/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}
