<div class="card">
  <p-table
    #table
    [value]="usersList"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    responsiveLayout="stack"
    (onPage)="onPageChange($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <input
            type="checkbox"
            (change)="toggleAllSelection($event)"
            [checked]="isAllChecked()"
          />
        </th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
      <tr [class.selected]="user.selected">
        <td>
          <input
            type="checkbox"
            (change)="toggleSelection($event, rowIndex)"
            [checked]="user.selected"
          />
        </td>
        <td>
          <span class="p-column-title fw-600">Name</span>
          {{ user.name }}
        </td>
        <td>
          <span class="p-column-title fw-600">Email</span>
          {{ user.email }}
        </td>
        <td>
          <span class="p-column-title fw-600">Role</span>
          {{ user.role }}
        </td>
        <td>
          <span class="p-column-title fw-600">Actions</span>
          <div class="action-btns">
            <p-button
              type="button"
              icon="pi pi-pencil"
              styleClass="p-button-text"
              (onClick)="openEditUserDialog(user)"
            ></p-button>
            <p-button
              type="button"
              icon="pi pi-trash"
              styleClass="p-button-text"
              (onClick)="openDeleteUserDialog(user)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <button
        *ngIf="selectedUsers.length > 0"
        mat-raised-button
        color="warn"
        (click)="openDeleteSelectedUsersDialog()"
      >
        Delete Selected
      </button>
    </ng-template>
    <!-- <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template> -->
  </p-table>
</div>
